process {
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_INDEX' {
        ext.args = "--kmerLen 31"
    }
}

process {
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
        ext.args = "--minAssignedFrags 1 --seqBias --gcBias --validateMappings"
    }
}


process {
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
        ext.args = "--minAssignedFrags 1 --seqBias --gcBias --validateMappings"
    }
}

